<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ResultBebidas</title>
</head>
<body>
<div class="container">
  <p><strong>Nombre:</strong> <span th:text="${libros.Nombre}"></span></p>
  <p><strong>Autor:</strong> <span th:text="${libros.autor}"></span></p>
  <p><strong>Autor:</strong> <span th:text="${libros.paginas}"></span></p>
  <p><strong>Autor:</strong> <span th:text="${libros.genero}"></span></p>
  <p><strong>Autor:</strong> <span th:text="${libros.sinopsis}"></span></p>
</div>
</body>
</html>